
body{
    margin: 0;
    padding: 0;
    background: url(https://images.pexels.com/photos/1955134/pexels-photo-1955134.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: center;
}

.contenedor{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(0,0,0, .5);
    border-radius: 10px;
}
.contenedor h1{
    font-size:  60px;
    margin: 0 0 15;
    padding: 0;
    font-size: 20;
    text-align: center;
    text-size-adjust: 25%;

}

.contenedor h2{
    margin: 0 0 30;
    padding: 0;
    font-size: 30px;
    color: #ffffff;
    text-align: center;

}

.contenedor .elemento label{
    color: #fff;
}

.contenedor .elemento input{
    width: 100%;
    padding: 10px 0px;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}

.contenedor .elemento input[type="submit"]{
    background-color: #ff0101;
    border: none;
    cursor: pointer;
    padding: 16px;
    margin-top: 30px;

}
